# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build
dist
eggs/
.eggs/

# Unit test / coverage reports
.coverage
coverage.xml
.reports/
junit/*
htmlcov/*

# Caches
.pytest_cache/

# VSCode
.vscode/

# Idea
.idea/
*.iml

# MacOS
.DS_Store

# Databricks eXtensions
.dbx/lock.json
.dbx/sync
.databricks/

# local mlflow files
mlruns/

# Environment variables
.env
.env*

# Virtual environment
/venv/
.venv*